:root {
  font-family: HarmonyOS_Medium, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --select-border: rgb(0,153,255);
  --scroll-background: rgb(245,245,245);
}

a {
  font-weight: 500;
  text-decoration: inherit;
  cursor: pointer;
}

html {
  background-color: rgba(0, 0, 0, 0) !important;
}

body {
  --title: 50px;
  --main-height: calc(100vh - 10px - var(--title));
  --header: 145px;
  --show-height: calc(var(--main-height) - var(--header));
  margin: 0px;
  display: flex;
  place-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

#app {
  margin: 5px;
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
